<!-- Preloader -->
<div class="preloader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<header id="header-main">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-white" id="navbar-main">
    <div class="container">
      <!-- Brand -->
      <a href="/">
        <img alt="Xtages Logo" src="img/logo_color.svg" id="navbar-logo" height="42">
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
              aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
        <!-- Toggler -->
        <div class="position-relative">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse"
                  aria-expanded="false" aria-label="Toggle navigation">
            <i data-feather="x"></i>
          </button>
        </div>
        <!-- Main navigation -->
        <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
          <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Product</a>
            <div class="dropdown-menu p-0">
              <div class="list-group list-group-flush">
                  <a href="/overview.html" class="nav-link list-group-item list-group-item-action">
                    <div class="ml-3">Overview</div>
                  </a>
                  <a href="/how-it-works.html" class="nav-link list-group-item list-group-item-action">
                    <div class="ml-3">How it works?</div>
                  </a>
                  <a href="/comparison.html" class="nav-link list-group-item list-group-item-action">
                    <div class="ml-3">What makes us different?</div>
                  </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="nav-link" href="https://docs.xtages.com" target="_blank">
              Docs
            </a>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="nav-link" href="/pricing.html">
              Pricing
            </a>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="nav-link" href="/about.html">
              About
            </a>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="nav-link" href="/contact.html">
              Contact
            </a>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="nav-link" href="/blog">
              Blog
            </a>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="btn btn-soft-primary btn-sm" href="https://console.xtages.com/login">
              Login
            </a>
          </li>
        </ul>
        <!-- Mobile button -->
        <div class="d-lg-none px-4 text-center">
          <a href="/overview.html" class="btn btn-sm btn-white btn-icon ml-3">Overview</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="/how-it-works.html" class="btn btn-sm btn-white btn-icon ml-3">How it works?</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="/comparison.html" class="btn btn-sm btn-white btn-icon ml-3">What makes us different?</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="https://docs.xtages.com" class="btn btn-sm btn-white btn-icon ml-3" target="_blank">Docs</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="/pricing.html" class="btn btn-sm btn-white btn-icon ml-3">Pricing</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="/about.html" class="btn btn-sm btn-white btn-icon ml-3">About</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="/contact.html" class="btn btn-sm btn-white btn-icon ml-3">Contact</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="/blog" class="btn btn-sm btn-white btn-icon ml-3">Blog</a>
        </div>
        <div class="d-lg-none px-4 text-center">
          <a href="https://console.xtages.com/login" class="btn btn-sm btn-soft-primary btn-icon ml-3">Login</a>
        </div>
      </div>
    </div>
  </nav>
</header>
