// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

abbr {
  text-decoration: none !important;
}

.card-pricing .subtitle {
  font-size: 75%;
}

.card-pricing {
  min-height: 450px;
}

.card[disabled]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: .8;
    border-radius: .75rem;
}


.lb-data .lb-close {
    background: url(../img/close.png) top right no-repeat !important;
}

.lb-nav a.lb-next,
.lb-nav a.lb-prev,
.lb-cancel {
  background: none !important;
}

.calendly {
    border: none;
    height: 700px;
    width: 280px;
}

ul.nav.sidenav {
  display: block;
}

@include media-breakpoint-up(sm) {
    .calendly {
      height: 600px;
      width: 500px;
    }
}

@include media-breakpoint-up(md) {
    .calendly {
      height: 600px;
      width: 700px;
    }
}

@include media-breakpoint-up(lg) {
    .calendly {
      height: 600px;
      width: 400px;
    }
}

@include media-breakpoint-up(xl) {
    .calendly {
      height: 800px;
      min-width: 1000px;
    }
}

.specs th {
  background-color: lighten($success, 30%) !important;
  color: darken($success, 25%);
  font-weight: bolder;
  border: none !important;
}

img.founder {
  width: 15rem;
  height: 15rem;
  filter: grayscale(1);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
