// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

abbr {
  text-decoration: none !important;
}

.card[disabled]::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: .8;
    border-radius: .75rem;
}


.lb-data .lb-close {
    background: url(../img/close.png) top right no-repeat !important;
}

.calendly {
    border: none;
    height: 700px;
    width: 280px;
}

@include media-breakpoint-up(sm) {
    .calendly {
      height: 600px;
      width: 500px;
    }
}

@include media-breakpoint-up(md) {
    .calendly {
      height: 600px;
      width: 700px;
    }
}

@include media-breakpoint-up(lg) {
    .calendly {
      height: 600px;
      width: 400px;
    }
}

@include media-breakpoint-up(xl) {
    .calendly {
      height: 800px;
      min-width: 1000px;
    }
}
