<header>
    <nav class="navbar sticky navbar-dark bg-primary">
        <div class="container">
            <a href="/" class="text-white">
                <i data-feather="arrow-left"></i> Back to Xtages.com
            </a>
        </div>
    </nav>
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-light" id="navbar-main">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/blog">
                <img alt="Xtages Logo" src="{{ "img/logo_color.svg" | relURL }}" id="navbar-logo"> <sup>Blog</sup>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                <!-- Toggler -->
                <div class="position-relative">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <!-- Main navigation -->
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/pricing.html">
                           Pricing 
                        </a>
                    </li>
                    <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/contact.html">Contact</a>
                    </li>
                </ul>
                <!-- Mobile button -->
                <div class="d-lg-none px-4 text-center">
                    <a href="/blog" class="btn btn-sm btn-white btn-icon ml-3">Pricing</a>
                </div>
                <div class="d-lg-none px-4 text-center">
                    <a href="pricing.html" class="btn btn-sm btn-white btn-icon ml-3">Pricing</a>
                </div>
                <div class="d-lg-none px-4 text-center">
                    <a href="contact.html" class="btn btn-sm btn-white btn-icon ml-3">Contact</a>
                </div>
            </div>
        </div>
    </nav>
</header>