{{/*
<!-- TODO(czuniga): Enable this when we have search -->
<div class="col-lg-5">
    <form class="rounded-lg border">
        <div class="input-group input-group-merge">
            <!-- Prepend -->
            <div class="input-group-prepend">
                <span class="input-group-text border-0 pr-2">
                    <i data-feather="search"></i>
                </span>
            </div>
            <!-- Input -->
            <input type="text" class="form-control border-0 px-1" aria-label="Find something"
                placeholder="Find something...">
            <!-- Append -->
            <div class="input-group-append">
                <span class="input-group-text border-0 py-0 pl-2 pr-1">
                    <button type="button" class="btn btn-sm btn-primary">Search</button>
                </span>
            </div>
        </div>
    </form>
</div>
*/}}