@import "../../../../../css/common.scss";
@import "../../../../../vendor/quick-website-ui-kit-v1.1.1/src/resources/scss/core/components/avatars/avatar";
@import "../../../../../vendor/quick-website-ui-kit-v1.1.1/src/resources/scss/core/components/masks/mask";
@import "../../../../../vendor/quick-website-ui-kit-v1.1.1/src/resources/scss/core/components/media-objects/media";

figure.in-content img {
    width: 100%;
}


.lb-data .lb-close {
    background: none !important;
}

blockquote {
    background-color: $gray-200;
    padding: 20px 20px 5px 20px;
    font-style: italic;
}

blockquote h2 {
    font-size: $h5-font-size;
}